*{
    box-sizing: border-box;
}

body{
    background-image: url('image/abstract-3291293_1280.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 80%;
    margin: auto;
}

.header{
    font-family: 'Times New Roman', Times, serif;
    margin-top: 150px;
    text-align: left;
    color: #fff;
}

.header h2{
    font-size: 18px;
    margin-bottom: 1px;
    font-weight: bolder;
}

.header p{
     margin-top: 5px;
     border-bottom: 1px solid #fff;
     padding-bottom: 20px;
}

.container{
  font-size: 16px;
}

.soft{
    font-size: 16px;
    display: inline-block;
    padding: 12px 20px;
    margin: 12px 0;
    width: 100%;
}

